<a href="/community/discussions/<%= objcomm._id %>">Dicussions</a><br>
<a href="/community/communityProfile/<%= objcomm._id %>">Community Profile</a><br>
<a href="/community/communityMembers/<%= objcomm._id %>">Community Members</a><br>