<a href="/community/discussions/<%= objcomm._id %>">Dicussions</a><br>
<a href="/community/manageCommunity/<%= objcomm._id %>">Manage community</a><br>
<a>Community Profile</a><br>
<a>Community Members</a><br>