<!DOCTYPE html>
<html>
    <head>
        <% include partials/bootstrap.ejs %>

        <style>
            .div-min-width
            {
                min-width: 360px;
            }
            .containerdiv
            {
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
            .parentdiv
            {
                background-color: #fff;
                border: 5px solid rgba(0,0,0,0.1);
                margin-top: 40px;
            }
            h1
            {
                font-size: 36px;
                margin-top: 20px;
                margin-bottom: 10px;
                font-weight: 500;
                line-height: 1.1;
            }
            .formdiv
            {
                display: block;
                margin-top: 0em;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .pass
            {
                margin-right: -15px;
                margin-left: -15px;
                margin-bottom: 15px;
            }
            label
            {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
                cursor: default;
            }
            .form-input
            {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            }
            .btn-success
            {
                cursor: pointer;
                border-radius: 0;
                outline: none !important;
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                border: 1px solid transparent;
            }
            @media (min-width: 1200px){
                .containerdiv {
                    width: 1170px;
                }
                .parentdiv
                {

                    min-height: 1px;
                    padding-right: 15px;
                    padding-left: 15px;
                    float: left;
                    width: 50%;
                }

            }
            @media (min-width: 992px){
                .containerdiv {
                    width: 970px;
                }
                .parentdiv
                {

                    min-height: 1px;
                    padding-right: 15px;
                    padding-left: 15px;
                    float: left;
                    width: 50%;
                }
            }
            @media (min-width: 768px){
                .containerdiv {
                    width: 750px;
                }
                .parentdiv
                {

                    min-height: 1px;
                    padding-right: 15px;
                    padding-left: 15px;
                    float: left;
                    width: 75%;
                }
            }
            *
            {
                box-sizing: border-box;
            }

        </style>


    </head>

<body class="body">
    <% include partials/header.ejs %>
    <div id="viewscreen">
            <% include partials/sidebar.ejs %>

            <div id="rightview">

                <div class="containerdiv div-min-width">
                    <div class = "parentdiv">
                        <br>
                    <h1>Change Password</h1>
                        <div class = "formdiv">

                            <div id = "oldp" class="pass">
                                <label>Old Password:</label>
                                &nbsp;&nbsp;
                                <br>
                                <input type = "password" class="form-input" id="oldpassword">
                                <br>
                            </div>

                            <div id="newp" class="pass">
                                <label>New Password:</label>
                                &nbsp;&nbsp;
                                <br>
                                <input type = "password" class="form-input" id="newpassword">
                                <br>

                            </div>
                            <div id="subp" class="pass">
                                <input type = "submit" value="Submit" class="btn-success" id="submitbtn">
                            </div>

                        </div>

                    </div>
                </div>

            </div>

    </div>

</body>
    <script src="/openpanel.js">
    </script>

    <script>

        var colorLi = document.getElementById("sidebar-password");
        colorLi.setAttribute("style","background-color:#337ab7;");


        var bttn = document.getElementById("submitbtn");
        bttn.onclick = function()
        {
            var oldp = document.getElementById("oldpassword");
            var newp = document.getElementById("newpassword");

            var passob = new Object();
            passob.oldp = oldp.value;
            passob.newp = newp.value;


            var request = new XMLHttpRequest();
            var filename = '/editpassword';
            request.open('POST',filename);
            request.setRequestHeader("content-Type","application/JSON");
            request.send(JSON.stringify(passob));
            request.onload = function()
            {
                console.log(request.responseText);
                if(request.responseText == "INCORRECT OLD PASSWORD")
                alert("Wrong Old Password")
                else if(request.responseText == "PASSWORD CHANGED")
                alert("Password Updated :)")
                oldp.value="";
                newp.value=""
            }

        }

    </script>
</html>
